<a href="https://colab.research.google.com/github/abdulkadirdemirci/Sorting-Rating/blob/main/sorting%26rating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import math
import matplotlib.pyplot as plt
import scipy.stats as st

############################################
# Rating Product & Sorting Reviews in Amazon
############################################

#is problemi:

E-ticaretteki en onemli problemlerden bir tanesi urunlere satis
sonrasi verilen puanlarin dogru sekilde hesaplanmasidir. Bu
problemin cozumu e-ticaret sitesi icin daha fazla musteri
memnuniyeti saglamak, saticilar icin urunun one cikmasi ve satin
alanlar icin sorunsuz bir alisveris deneyimi demektir. Bir diger
problem ise urunleree verilen yorumlarin dogru bir sekilde
siralanmasi olarak karsimiza cikmaktadir. Yaniltici yorumlarin one
cikmasi urunun satisini dogrudan etkileyeceginden dolayi hem
maddi kayip hem de musteri kaybina neden olacaktir. Bu 2 temel
problemin cozumunde e-ticaret sitesi ve saticilar satislarini
arttirirken musteriler ise satin alma yolculugunu sorunsuz olarak
tamamlayacaktir.

# veri seti hikayesi:
Amazon urun verilerini iceren bu veri seti urun kategorileri ile 
cesitli metadatalari icermektedir. Elektronik kategorisindeki en
fazla yorum alan urunun kullanici puanlari ve yorumlari vardir.

* **reviewerID**       :    Kullanici ID’si
* **asin**             :   Urun ID’si
* **reviewerName**      :  Kullanici Adi
* **helpful**           :  Faydali degerlendirme derecesi
* **reviewText**        :  Degerlendirme
* **overall**          :   Urun rating’i
* **summary**          :   Degerlendirme ozeti
* **unixReviewTime**:    Degerlendirme zamani
* **reviewTime**   :       Degerlendirme zamani Raw
* **day_diff**   :         Degerlendirmeden itibaren gecen gun sayisi
* **helpful_yes**  :       Degerlendirmenin faydali bulunma sayisi
* **total_vote**     :     Degerlendirmeye verilen oy sayisi

###############################
# GOREV1: Average Rating’i guncel yorumlara gore hesaplayiniz ve var olan average rating ile kiyaslayiniz.
 Paylasilan veri setinde kullanicilar bir urune puanlar vermis ve yorumlar yapmistir.
Bu gorevde amacimiz verilen puanlari tarihe gore agirliklandirarak degerlendirmek.
 Ilk ortalama puan ile elde edilecek tarihe gore agirlikli puanin karsilastirilmasi gerekmektedir
###############################
# GOREV1 ADIM1: Urunun ortalama puanini hesaplayiniz.
###############################

In [2]:
pd.set_option("display.expand_frame_repr", False)

In [3]:
df_ = pd.read_csv("/content/drive/MyDrive/veriler/amazon_review.csv")
df = df_.copy()

In [4]:
df.head(5)

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime  reviewTime  day_diff  helpful_yes  total_vote
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.      4.0                              Four Stars      1406073600  2014-07-23       138            0           0
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...      5.0                           MOAR SPACE!!!      1382659200  2013-10-25       409            0           0
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...      4.0               nothing to really say....      1356220800  2012-12-23       715            0           0
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...      5.0  Great buy at this price!!!  *** UPDATE      1384992000  2013-11-21       382            0           0
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...      5.0                        best deal around      1373673600  2013-07-13       513            0           0

In [5]:
df.sample(5)

          reviewerID        asin                reviewerName helpful                                         reviewText  overall                                            summary  unixReviewTime  reviewTime  day_diff  helpful_yes  total_vote
4196   ARJ27NMILTKQ5  B007WTAJTO                     S. Hunt  [1, 1]  Very happy with this card. It gives my 32gb Ga...      5.0  Gread card. Worked out of the box in my Galaxy...      1355616000  2012-12-16       722            1           1
2601  A2QNIIAH77DY04  B007WTAJTO             Kat "katzmusik"  [0, 0]  I have had this card for a couple of days and ...      5.0                                  Great little card      1347667200  2012-09-15       814            0           0
59    A1839EV6FXY0KM  B007WTAJTO  Adam J. Lomprey "lompreya"  [0, 0]  Great Deal and much faster file movement.Defin...      5.0                                         Awesome!!!      1377561600  2013-08-27       468            0           0
2818  A1LDB0HGS322GA  B007WTAJTO                         Leo  [0, 0]  Needed extra disk space in my surface pro 1. P...      5.0                    Works great in my surface pro 1      1380585600  2013-01-10       697            0           0
2578  A1MFVAHTT2BHM0  B007WTAJTO                     J. Wang  [0, 0]  With technology improving upon solid state mem...      5.0                                              Fast.      1355356800  2012-12-13       725            0           0

In [6]:
df["helpful_yes"].value_counts().sort_index().head(7)

0    4502
1     323
2      32
3      16
4      10
5       7
6       7
Name: helpful_yes, dtype: int64

In [7]:
df.shape

(4915, 12)

In [8]:
df.columns

Index(['reviewerID', 'asin', 'reviewerName', 'helpful', 'reviewText',
       'overall', 'summary', 'unixReviewTime', 'reviewTime', 'day_diff',
       'helpful_yes', 'total_vote'],
      dtype='object')

In [9]:
urun_ort_rating = df["overall"].mean()

In [10]:
print(urun_ort_rating)

4.587589013224822

###############################
# GOREV1 ADIM2: Tarihe gore agirlikli puan ortalamasini hesaplayiniz.
 • reviewTime degiskenini tarih degiskeni olarak tanitmaniz.

 • reviewTime'in max degerini current_date olarak kabul etmeniz.

 • her bir puan-yorum tarihi ile current_date'in farkini gun cinsinden
 ifade ederek yeni degisken olusturmaniz ve gun cinsinden ifade edilen
 degiskeni quantile fonksiyonu ile 4'e bolup (3 ceyrek verilirse 4 parca cikar)
 ceyrekliklerden gelen degerlere gore agirliklandirma yapmaniz
 gerekir. 
 Ornegin q1 = 12 ise agirliklandirirken 12 gunden az sure once yapilan
 yorumlarin ortalamasini alip bunlara yuksek agirlik vermek gibi.
###############################

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4915 entries, 0 to 4914
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      4915 non-null   object
 1   asin            4915 non-null   object
 2   reviewerName    4914 non-null   object
 3   helpful         4915 non-null   object
 4   reviewText      4914 non-null   object
 5   overall         4915 non-null   float64
 6   summary         4915 non-null   object
 7   unixReviewTime  4915 non-null   int64
 8   reviewTime      4915 non-null   object
 9   day_diff        4915 non-null   int64
 10  helpful_yes     4915 non-null   int64
 11  total_vote      4915 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 460.9+ KB

In [12]:
df["reviewTime"] = pd.to_datetime(df["reviewTime"])

In [13]:
current_date = df.reviewTime.max()

In [16]:
print(current_date)

2014-12-07 00:00:00

In [14]:
df["fark_gun"] = (current_date - df["reviewTime"]).dt.days

In [17]:
df["fark_gun"].quantile([.1, .25, .5, .75, .8, .9, .95])

0.10    166.0
0.25    280.0
0.50    430.0
0.75    600.0
0.80    637.0
0.90    707.0
0.95    747.0
Name: fark_gun, dtype: float64

ilk 300 gun içinde yorum yapanların agirligi:   w1

ikinci 300 gun içinde yorum yapanlarin agirligi:    w2

600 gunden daha önce yorum yapanlarin agirligi: w3

In [18]:
def time_based_weighted(df, w1, w2, w3, lim1=300, lim2=600):
    """
    verilen df icinde limitler ile parcalara ayrilmis araliklara
     w1,w2,w3 agirliklarini kullanarak ortalama hesaplar

    :param df: dataframe
    :param w1: 0 < w1 < 1, float
    en yakin donemde yorum yapanlarin agirligi
    :param w2: 0 < w2 < 1, float
    orta donemde yorum yapanlarin agirligi
    :param w3: 0 < w3 < 1, float
    uzak donemde yorum yapanlarin agirligi
    :param lim1: zaman dilimi 1
    :param lim2: zaman dilimi 2
    :return:
    iki kesitle 3 parcaya ayrilmis veri setine w1, w2, w3 agirliklari
    uygulanarak zaman_tabanli_agirlikli_rating degerini verir.
    """
    return df.loc[df["fark_gun"] < lim1, "overall"].mean() * w1 + \
           df.loc[(df["fark_gun"] > lim1) & (df["fark_gun"] <= lim2), "overall"].mean() * w2 + \
           df.loc[df["fark_gun"] > lim2, "overall"].mean()*w3

In [19]:
time_based_weighted(df, w1=.45, w2=.33, w3=.22)

4.609377475190335

###############################
# GOREV1 ADIM3: Agirliklandirilmis puanlamada her bir zaman diliminin ortalamasini karsilastirip yorumlayiniz
###############################

In [20]:
df.loc[df["fark_gun"] < 300, "overall"].mean()

4.699785561115082

In [21]:
df.loc[(df["fark_gun"] > 300) & (df["fark_gun"] <= 600), "overall"].mean()

4.5948426573426575

In [22]:
df.loc[df["fark_gun"] > 600, "overall"].mean()

4.4462540716612375

*ortalama ilk 1 yil, 2 yil ve 2 yildan daha uzun sure once yapilan yorumlar 
olarak verimizi ayirdigimizda, goruyoruz ki zaman icindeki trendi daha iyi 
yakalama imkanina sahibiz. ilgilenile uruna her gecen yil ilgi daha da artarak 
devam etmekte. artis azimsanmayacak bir oranda ilgi gormeye devam etmis(~0.11)
eger zamani goz ardi etmis olsaydik urunun suanki ortalama puani gecmisteki ratingler
altinda eziliyor olacaktir*

###############################
# GOREV2: Urun icin urun detay sayfasinda goruntulenecek 20 review’i belirleyiniz.
###############################
###############################
# GOREV2 ADIM1: helpful_no değişkenini üretiniz.
 • total_vote bir yoruma verilen toplam up-down sayısıdır.

 • up, helpful demektir.

 • Veri setinde helpful_no değişkeni yoktur, var olan değişkenler üzerinden üretilmesi gerekmektedir.
 
 • Toplam oy sayısından (total_vote) yararlı oy sayısı (helpful_yes)
çıkarılarak yararlı bulunmayan oy sayılarını (helpful_no) bulunuz.
###############################

In [23]:
df["helpful_no"] = df["total_vote"]-df["helpful_yes"]

###############################
# GOREV2 ADIM2: score_pos_neg_diff, score_average_rating ve wilson_lower_bound skorlarini hesaplayip veriye ekleyiniz.
 • score_pos_neg_diff, score_average_rating ve wilson_lower_bound skorlarini hesaplayabilmek icin score_pos_neg_diff, score_average_rating ve wilson_lower_bound fonksiyonlarini tanimlayiniz.

 • score_pos_neg_diff'a gore skorlar olusturunuz. Ardindan; df icerisinde score_pos_neg_diff ismiyle kaydediniz.

 • score_average_rating'a gore skorlar olusturunuz. Ardindan; df icerisinde score_average_rating ismiyle kaydediniz.
 
 • wilson_lower_bound'a gore skorlar olusturunuz. Ardindan; df icerisinde wilson_lower_bound ismiyle kaydediniz.
###############################

# score_pos_neg_diff

In [24]:
df["score_pos_neg_diff"] = df["helpful_yes"]-df["helpful_no"]

In [25]:
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime reviewTime  day_diff  helpful_yes  total_vote  fark_gun  helpful_no  score_pos_neg_diff
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.      4.0                              Four Stars      1406073600 2014-07-23       138            0           0       137           0                   0
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...      5.0                           MOAR SPACE!!!      1382659200 2013-10-25       409            0           0       408           0                   0
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...      4.0               nothing to really say....      1356220800 2012-12-23       715            0           0       714           0                   0
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...      5.0  Great buy at this price!!!  *** UPDATE      1384992000 2013-11-21       382            0           0       381           0                   0
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...      5.0                        best deal around      1373673600 2013-07-13       513            0           0       512           0                   0

# score_average_rating

In [26]:
df["score_average_rating"] = [df["helpful_yes"][x]/df["total_vote"][x] if df["helpful_yes"][x] >0 else 0 for x in df.index ]

In [27]:
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime reviewTime  day_diff  helpful_yes  total_vote  fark_gun  helpful_no  score_pos_neg_diff  score_average_rating
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.      4.0                              Four Stars      1406073600 2014-07-23       138            0           0       137           0                   0                   0.0
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...      5.0                           MOAR SPACE!!!      1382659200 2013-10-25       409            0           0       408           0                   0                   0.0
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...      4.0               nothing to really say....      1356220800 2012-12-23       715            0           0       714           0                   0                   0.0
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...      5.0  Great buy at this price!!!  *** UPDATE      1384992000 2013-11-21       382            0           0       381           0                   0                   0.0
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...      5.0                        best deal around      1373673600 2013-07-13       513            0           0       512           0                   0                   0.0

# wilson_lower_bound

In [28]:
def wilson_lower_bound(up, down, confidence=0.95):
    """
    Wilson Lower Bound Score hesapla

    - Bernoulli parametresi p için hesaplanacak güven aralığının alt sınırı WLB skoru olarak kabul edilir.
    - Hesaplanacak skor ürün sıralaması için kullanılır.
    - Not:
    Eğer skorlar 1-5 arasıdaysa 1-3 negatif, 4-5 pozitif olarak işaretlenir ve bernoulli'ye uygun hale getirilebilir.
    Bu beraberinde bazı problemleri de getirir. Bu sebeple bayesian average rating yapmak gerekir.

    Parameters
    ----------
    up: int
        up count
    down: int
        down count
    confidence: float
        confidence

    Returns
    -------
    wilson score: float

    """
    n = up + down
    if n == 0:
        return 0
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    phat = 1.0 * up / n
    return (phat + z * z / (2 * n) - z * math.sqrt((phat * (1 - phat) + z * z / (4 * n)) / n)) / (1 + z * z / n)

In [29]:
df["wilson_lower_bound_score"] = df.apply(lambda x: wilson_lower_bound(x["helpful_yes"],x["helpful_no"]),axis=1)

In [30]:
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime reviewTime  day_diff  helpful_yes  total_vote  fark_gun  helpful_no  score_pos_neg_diff  score_average_rating  wilson_lower_bound_score
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.      4.0                              Four Stars      1406073600 2014-07-23       138            0           0       137           0                   0                   0.0                       0.0
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...      5.0                           MOAR SPACE!!!      1382659200 2013-10-25       409            0           0       408           0                   0                   0.0                       0.0
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...      4.0               nothing to really say....      1356220800 2012-12-23       715            0           0       714           0                   0                   0.0                       0.0
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...      5.0  Great buy at this price!!!  *** UPDATE      1384992000 2013-11-21       382            0           0       381           0                   0                   0.0                       0.0
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...      5.0                        best deal around      1373673600 2013-07-13       513            0           0       512           0                   0                   0.0                       0.0

###############################
# GOREV2 ADIM3 : 20 Yorumu belirleyiniz ve sonuclari Yorumlayiniz.
 • wilson_lower_bound'a gore ilk 20 yorumu belirleyip siralayaniz.
 
 • Sonuclari yorumlayiniz.
###############################

In [32]:
df.sort_values(by="score_pos_neg_diff",ascending=False).head(5)

          reviewerID        asin                reviewerName       helpful                                         reviewText  overall                                            summary  unixReviewTime reviewTime  day_diff  helpful_yes  total_vote  fark_gun  helpful_no  score_pos_neg_diff  score_average_rating  wilson_lower_bound_score
2031  A12B7ZMXFI6IXY  B007WTAJTO        Hyoun Kim "Faluzure"  [1952, 2020]  [[ UPDATE - 6/19/2014 ]]So my lovely wife boug...      5.0  UPDATED - Great w/ Galaxy S4 & Galaxy Tab 4 10...      1367366400 2013-01-05       702         1952        2020       701          68                1884              0.966337                  0.957544
4212   AVBMZZAFEKO58  B007WTAJTO                 SkincareCEO  [1568, 1694]  NOTE:  please read the last update (scroll to ...      1.0  1 Star reviews - Micro SDXC card unmounts itse...      1375660800 2013-05-08       579         1568        1694       578         126                1442              0.925620                  0.912139
3449   AOEAD7DPLZE53  B007WTAJTO           NLee the Engineer  [1428, 1505]  I have tested dozens of SDHC and micro-SDHC ca...      5.0  Top of the class among all (budget-priced) mic...      1348617600 2012-09-26       803         1428        1505       802          77                1351              0.948837                  0.936519
317   A1ZQAQFYSXL5MQ  B007WTAJTO     Amazon Customer "Kelly"    [422, 495]  If your card gets hot enough to be painful, it...      1.0                                Warning, read this!      1346544000 2012-02-09      1033          422         495      1032          73                 349              0.852525                  0.818577
3981  A1K91XXQ6ZEBQR  B007WTAJTO  R. Sutton, Jr. "RWSynergy"    [112, 139]  The last few days I have been diligently shopp...      5.0  Resolving confusion between "Mobile Ultra" and...      1350864000 2012-10-22       777          112         139       776          27                  85              0.805755                  0.732136

In [33]:
df.sort_values(by="score_average_rating",ascending=False).head(5)

          reviewerID        asin        reviewerName helpful                                         reviewText  overall                     summary  unixReviewTime reviewTime  day_diff  helpful_yes  total_vote  fark_gun  helpful_no  score_pos_neg_diff  score_average_rating  wilson_lower_bound_score
4277  A35KXSU6AD1481  B007WTAJTO               S. Q.  [1, 1]  I have a galaxy note II and after rooting I no...      5.0                   Perfect!!      1355875200 2012-12-19       719            1           1       718           0                   1                   1.0                  0.206549
2881  A3VSG5X7GPNNW6  B007WTAJTO          Lou Thomas  [1, 1]  The Nexus One is listed as supporting a maximu...      5.0  Nexus One Loves This Card!      1349049600 2012-01-10      1063            1           1      1062           0                   1                   1.0                  0.206549
1073  A2ZXEKQ2OBZLEE  B007WTAJTO          C. Sanchez  [1, 1]  I used it with my Samsung S4 and it works grea...      5.0     Tons of space for phone      1376352000 2013-08-13       482            1           1       481           0                   1                   1.0                  0.206549
445    AIWBDRNBODLEA  B007WTAJTO  Apache "Elizabeth"  [1, 1]  This is exactly what I was looking for to upgr...      4.0         Amazon Great Prices      1387324800 2013-12-18       355            1           1       354           0                   1                   1.0                  0.206549
3923   A2PH4RGYVR34L  B007WTAJTO     Rock Your Roots  [1, 1]  It's a SanDisk, so what more is there to say? ...      5.0           What more to say?      1388361600 2013-12-30       343            1           1       342           0                   1                   1.0                  0.206549

In [34]:
targets=["helpful","total_vote","overall","helpful_yes","helpful_no","wilson_lower_bound_score"]

In [36]:
df.sort_values(by="wilson_lower_bound_score",ascending=False)[targets].head(5)

           helpful  total_vote  overall  helpful_yes  helpful_no  wilson_lower_bound_score
2031  [1952, 2020]        2020      5.0         1952          68                  0.957544
3449  [1428, 1505]        1505      5.0         1428          77                  0.936519
4212  [1568, 1694]        1694      1.0         1568         126                  0.912139
317     [422, 495]         495      1.0          422          73                  0.818577
4672      [45, 49]          49      5.0           45           4                  0.808109

*bir satis platformunda ilk 20 yorum yorumlar sekmesinin ilk 
sekmesi demektir. satin alicilarinin cok az bir kismi 2. ve 3. sekmelere
bakar. bu yuzden bu ilk 20 de urun hakkında gercekten anlamlı ve  diger
kullanicilar tarfindan faydali bulunmus yorumlar bulunmali.
ciktimizin kiymeti diger reviews siralama methondali ile karsilastirilmadan 
anlasilamayabilir. lakin goruldugu uzere hem kullanicilardan 5 yildiz verenlerin
yorumlari hem de 1 yildiz verenlerin yorumlari gorunmektedir. lakin 
wilson_lower_bound yontemi de digerleri gibi tek basina kullanidiginda 
yakaladigi iyi yonler oldugu gibi kacirdigi kisimlar da vardir, mesela daha önce 
incelemis ve degerlendirmis oldugumuz zaman_tabanli hesaplamalar bize zaman
icindeki urun hakkinda gelismekte olan fikir ve dusuncelerin trendini 
yakalama imkani veriyordu. eger WLB kullanilmak isteniyorsa tek basina degil
bu iki yaklasimin agirlikli ortalamasi icinde belirlenen bir agirliga sahip olacak
sekilde degerlendirilmeli. ayrıca verimizde bulunuyordu fakat kimin ne zman oy verdigi
kadar kimin oy verdigi yorum yaptigi da önemli burada devreye kullanici skorlari
giriyor. her kullanici platform icinde bulundugu etkilesime gore bir degere sahiptir
ve bu deger miktarince kendisinden gelen yorumlar geri donusler o derece oneme sahip olur.*